
.category {
  margin: 30px 0;
}
.category .category-heading {
  text-align: center;
  margin-bottom: 30px;
}
.category .category-heading img {
  margin: 0 auto;
}
.category .category-heading .category-title {
  font-size: 28px;
  font-family: 'UTM Bebas';
  text-transform: uppercase;
  color: var(--gray-dark);
}
.category .category-list .category-item img {
  margin-bottom: 10px;
}
.category .category-list .category-item .category-name {
  font-size: 24px;
  color: var(--gray-dark);
  font-weight: 700;
  text-align: center;
}
.category .category-list .slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
}
.category .category-list .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background: var(--gray-dark);
  transition: 0.25s all;
}
.category .category-list .slick-dots li.slick-active button {
  background: var(--green-dark);
}
@media screen and (max-width: 767.98px) {
  .category .category-list .category-item .category-name {
    font-size: 20px;
  }
}
