.footer {
  background: url('../images/bg-footer.png');
  background-size: cover;
  padding: 40px 0;
  background-repeat: no-repeat;
}
.footer .footer-top {
  margin-bottom: 30px;
}
/* KV-Arial bold */
.footer .title {
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
 
  font-size: 17px;
  margin-bottom: 18px;

  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.footer .footer-menu .menu .menu-item .menu-link {
  color: #fff;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* KV-Arial 400 */
.footer .footer-menu .menu .menu-item:not(:last-child) .menu-link {
  display: block;
  font-family: Arial;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
}

.footer .footer-menu .menu .menu-item .menu-link::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 8px;

  transform: translateY(-50%);
  background-color: #fff;
}
.footer .footer-contact .footer-info {
  margin-bottom: 15px;
  font-family: Arial;
  font-weight: 400;
  
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.footer .footer-contact .footer-info  span {
  display: inline-block;
  width: 80px;
}
.footer .footer-mid {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}
.footer .footer-copy-right {
  margin-top: 20px;
  text-align: right;
  font-family: Arial;
  font-style: italic;
}
@media screen and (max-width: 767.98px) {
  .footer .footer-menu {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 576px) {
 
  .footer {
    padding: 40px 0;
  }
}
@media screen and (max-width: 400px) {
  .footer .footer-map iframe {
    width: 280px;
  }
  .w100 {
    width: 100%;
  }
  
}
