body {
  /* line-height: 1.7; */
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  
}
.back-to-top {
  visibility: hidden;
  color: var(--white-color);
  width: 36px;
  height: 36px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #000;
}
.back-to-top.is-show {
  visibility: visible;
}
.back-to-top:hover {
  color: var(--white-color);
  background-color: var(--green-dark);
}
