.header {
  position: relative;
  z-index: 99;
  background: #01446d;
}
.header-heading {
  border-bottom: 1px solid #9b7318;
}
.header-top {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 25px;
}
.header-contact i {
  margin-right: 5px;
}
.header-contact .phone {
  color: #fff;
}
.header-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.header-bottom {
  display: flex;
  gap: 0 180px;
  align-items: center;
}
.header-bottom .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 23px;
}
.header-bottom .menu .menu-item .menu-link {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  transition: 0.25s all;
}
.header-bottom .menu .menu-item .menu-link:hover {
  color: #9b7318;
}
.header-bottom .menu-toggle {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header-bottom .menu-toggle span {
  width: 30px;
  height: 2px;
  background: #fff;
}

.header-bottom .toggle-menu {
  display: none;
}
.header-bottom > .menu > .menu-item {
  padding: 30px 0 20px;
}
.header-bottom .menu {
  position: relative;
}
.header-bottom > .menu > .menu-item .menu-child {
  position: absolute;
  z-index: 99;
  top: calc(100% + 40px);
  width: 250px;

  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all;
}
.header-bottom > .menu > .menu-item .menu-child > .menu-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.header-bottom > .menu > .menu-item .menu-child > .menu-item > .menu-link {
  display: block;
  color: #1c1c1c;
  padding: 10px;
  transition: 0.25s all;
}
.header-bottom > .menu > .menu-item .menu-child > .menu-item > .menu-link:hover {
  color: #9b7318;
}
.header-bottom > .menu > .menu-item:hover .menu-child {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 992px) {
}

@media screen and (max-width: 1200px) {
  .header-bottom {
    gap: 0 100px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    position: relative;
  }
  .header-bottom {
    padding-top: 20px;
  }

  .header-bottom > .menu > .menu-item {
    padding: 0;
  }
  .header-bottom .menu-toggle {
    display: flex;
  }
  .header-heading {
    display: none;
  }
  .header-bottom {
    position: relative;
    justify-content: space-between;
  }
  .header-bottom .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    transform: translateX(-100%);
    padding-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 99;
    background-color: #01446d;
    transition: 0.25s all;
  }
  .header-bottom .menu.is-show {
    transform: translateX(0);
  }
  .header-bottom .menu .menu-item .menu-link {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 20px;
  }
  .header-bottom .menu .menu-item {
    width: 100%;
  }
  .header-bottom .menu .menu-item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
  .header-bottom .menu-toggle span {
    transition: 0.25s all;
  }
  .header-bottom .menu-toggle.is-show span:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .header-bottom .menu-toggle.is-show span:nth-child(2) {
    opacity: 0;
  }
  .header-bottom .menu-toggle.is-show span:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header-bottom > .menu > .menu-item > .menu-link {
    position: relative;
  }
 
  .header-bottom .toggle-menu {
    display: block;
  }

  .header-bottom .toggle-menu::after,
  .header-bottom .toggle-menu::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    height: 2px;
    background-color: #fff;
    transition: 0.25s all;
  }
  .header-bottom .toggle-menu::before {
    transform: rotate(0deg);
  }
  .header-bottom .toggle-menu::after {
    transform: rotate(90deg);
  }
  .header-bottom .toggle-menu.is-show::before {
    transform: rotate(-90deg);
    opacity: 0;
  }
  .header-bottom .toggle-menu.is-show::after {
    transform: rotate(0deg);
  }

  .header-bottom > .menu > .menu-item > .menu-child {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    background-color: #01576d;
    transition: 0.5s all;
    overflow: hidden;
    max-height: 0;
  }
  .header-bottom > .menu > .menu-item > .menu-child.is-show {
    max-height: 100vh;
  }

  .header-bottom > .menu > .menu-item > .menu-child > .menu-item > .menu-link {
    padding-left: 25px;
    color: #fff;
  }
  .header-bottom > .menu > .menu-item:hover .menu-child {
    top: 0;
  }
}
@media screen and (max-width: 576px) {
  .header-logo img {
    width: 100px;
  }
}
