.news {
  margin: 40px 0;
}
.news .news-heading {
  margin-bottom: 40px;
  text-align: center;
}
.news .news-heading span {
  font-family: 'UTM Bebas';
  font-size: 40px;

  font-weight: 700;
  position: relative;
}
.news .news-heading span a {
  color: var(--gray-dark);
}
.news .news-heading span::before {
  content: '';
  background-image: url('../images/title_base.png');
  width: 160px;
  height: 27px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.news .news-list .news-item .news-image {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}
.news .news-list .news-item .news-image img {
  transition: 0.25s all ease-in-out;
}
.news .news-list .news-item .news-image:hover img{
  transform: scale(1.025);
}
.news .news-list .news-item .title a {
  font-family: 'UTM Bebas';
  font-size: 24px;
  color: var(--gray-dark);
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 15px;
}
.news .news-list .news-item .desc {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.news-list.slick-initialized .slick-slide {
  margin: 0 15px;
}
@media screen and (max-width: 767.98px) {
  .news .news-list .news-item .title a {
    font-size: 20px;
  }
  .news .news-list .news-item .desc {
    font-size: 14px;
  }
}

