.tab {
  margin: 40px 0;
}
.tab .tab-heading {
  text-align: center;
}
.tab .tab-heading h3 {
  font-family: 'UTM Bebas';
  font-size: 40px;
  color: var(--gray-dark);
  margin-bottom: 40px;
  text-transform: uppercase;
  position: relative;
}
.tab .tab-heading h3::before {
  content: '';
  background-image: url('../images/title_base.png');
  width: 160px;
  height: 27px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.tab .tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
  margin-bottom: 40px;
}
.tab .tab-list .tab-item {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--gray-dark);
  background-color: transparent;
  transition: 0.25s all;
  padding: 12px 26px;
  border-radius: 100rem;
}
.tab .tab-list .tab-item:hover {
  color: var(--white-color);
  background-color: var(--green-dark);
}
.tab .tab-list .tab-item.active {
  color: var(--white-color);
  background-color: var(--green-dark);
}
.tab .tab-wrapper .tab-content {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: 0.25s all;
}
.tab .tab-wrapper .tab-content.active {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.tab .tab-content .tab-drinks .tab-drink .product-thumb a {
  display: block;
  overflow: hidden;
}
.tab .tab-content .tab-drinks .tab-drink {
  margin-bottom: 25px;
}
.tab .tab-content .tab-drinks .tab-drink .product-thumb a > img {
  transition: 0.25s ease-in-out;
}
.tab .tab-content .tab-drinks .tab-drink .product-thumb a:hover img {
  transform: scale(1.025);
}
.tab .tab-content .tab-drinks .tab-drink .product-thumb {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.tab .tab-content .tab-drinks .tab-drink .product-info {
  text-align: center;
}
.tab .tab-content .tab-drinks .tab-drink .product-info .name {
  margin-bottom: 20px;
}
.tab .tab-content .tab-drinks .tab-drink .product-info .name a {
  color: var(--gray-dark);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  transition: 0.25s ease-in-out;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0 auto;
}
.tab .tab-content .tab-drinks .tab-drink .product-info .name a:hover {
  color: var(--green-dark);
}
.tab .tab-content .tab-drinks .tab-drink .product-info .price {
  font-size: 18px;
  color: var(--gray-dark);
}

@keyframes hover-imagecategory {
  0% {
    transform: perspective(200px) rotate3d(0, 1, 0, -90deg) translateX(-100%);
  }
  100% {
    transform: perspective(200px) rotate3d(0, 1, 0, 0deg) translateX(0px);
  }
}
.tab .tab-content .tab-drinks .tab-drink .product-thumb .add-to-cart {
  background-color: var(--green-dark);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;

  height: 41px;
  width: 100%;
  position: absolute;
  z-index: 6;
  bottom: 0;

  display: none;
  transform-origin: 50% 100%;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.tab .tab-content .tab-drinks .tab-drink .product-thumb .add-to-cart:hover {
  background-color: var(--gray-dark);
}
.tab .tab-content .tab-drinks .tab-drink:hover .add-to-cart {
  animation: hover-imagecategory 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  display: block;
}
.tab-content.slick-initialized .slick-slide {
  margin: 0 10px 30px 10px;
}
.tab .view-more {
  text-align: center;
  margin-top: 30px;
  display: none;
}
.tab .view-more a {
  color: var(--green-dark);
  font-weight: bold;
  font-size: 16px;
}

.tab .view-more a .fa-chevron-right {
  font-size: 14px;
  margin-left: 5px;
  
}

@media screen and (max-width: 767.98px) {
  .tab .tab-content .tab-drinks .tab-drink .product-info .name a {
    font-size: 16px;
  }
  .tab .view-more {
    display: block;
  }

  .tab .tab-list {
    flex-wrap: wrap;
  }
  .tab .tab-list .tab-item {
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
}

/* .item_product_main .product-thumbnail .btn-views {
  
  width: 41px;
  text-align: center;
  line-height: 41px;
  background: #fff;
  border: 1px solid #fff;
  padding: 0px;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  margin: 0 5px;
  color: #282828;
  border-radius: 50%;
 
} */
